{%load static%}

<script data-cfasync="false" src="{% static 'assets/js/email-decode.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-3.7.1.min.js' %}" type="9de7bc8aa0807b95e655c6a2-text/javascript"></script>

<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}" type="9de7bc8aa0807b95e655c6a2-text/javascript"></script>

<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}" type="9de7bc8aa0807b95e655c6a2-text/javascript"></script>

<script src="{% static 'assets/plugins/morris/morris.min.js' %}" type="9de7bc8aa0807b95e655c6a2-text/javascript"></script>
<script src="{% static 'assets/plugins/raphael/raphael.min.js' %}" type="9de7bc8aa0807b95e655c6a2-text/javascript"></script>
<script src="{% static 'assets/js/chart.js' %}" type="9de7bc8aa0807b95e655c6a2-text/javascript"></script>
<script src="{% static 'assets/js/greedynav.js' %}" type="9de7bc8aa0807b95e655c6a2-text/javascript"></script>

<script src="{% static 'assets/js/layout.js' %}" type="9de7bc8aa0807b95e655c6a2-text/javascript"></script>
<script src="{% static 'assets/js/theme-settings.js' %}" type="9de7bc8aa0807b95e655c6a2-text/javascript"></script>

<script src="{% static 'assets/js/app.js' %}" type="9de7bc8aa0807b95e655c6a2-text/javascript"></script>
<script src="{% static 'assets/js/rocket-loader.min.js' %}" data-cf-settings="9de7bc8aa0807b95e655c6a2-|49" defer></script></body>